.text-center{
  text-align: center;
}
.row{
  display: flex;
  justify-content: center;

}
.box{
  background-color:  white;
  border: 1px solid gray;
  height: 100px;
  width: 100px;
  font-size: 70px;
}
.box:hover{
  background-color: #d9d9d9;
  cursor: pointer;
  transition: 0.10s;
  box-shadow:0 1px 10px 3px #ff66ff;
  z-index: 100;
}
.board{
  border: 20px solid #e600e6;
  display: block;
  margin: 20px auto;
  width: fit-content;
  padding: 4px;
  border-radius: 10px;
  margin-top: 60px;
}
.pleyers-place{
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.player{
  font-size: 30px;
  font-weight: 700;
}